#filter_filterData{
    top: 180px;
}
#filter_filterData>div{
    width: 100px;
    height: 50px;
    padding-top:10px;
    padding-right: 30px;
}

#filter_filterData>input{
    width: 250px;
    font-size: larger;
}
/* #filter_filterData > div > ul{
    width: 500px;
    position: absolute !important;
    left: auto !important;
    right: auto !important;
} */
.fixed-plugin .dropdown-menu li {
    display: block;
    padding: 18px 2px;
    width: 100% !important;
    float: left;
}